{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Advisor</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index/asset/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'index/asset/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'index/asset/css/style_carte.css' %}">
    <link rel="stylesheet" href="{% static 'index/asset/fonts/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'index/asset/fonts/tripadvisor-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'index/asset/css/style1.css' %}">
   <script src="{% static 'index/asset/vendor/jquery/jquery.min.js' %}"></script>

</head>

<body>
    <header>
        <div class="container">
            <div>
                <i class="icon-menu_bars"></i>
                <a href="{% url 'home' %}"><img src="" alt="Service Advisor logo"></a>
               
    
            </div>
        {% if user.is_authenticated %}
        <nav>
            <a href="profile" ><div><i class="icon-notification_bell" style='font-size:22px'></i><span href="favourite" style='font-size:22px'>Profil</span></div></a>
             <a href="favourite" style='margin-left:20px;'><div><i class="icon-heart" style='font-size:22px'></i><span style='font-size:22px'>Favoris</span></div></a>
             <a href="{% url 'logout' %}"><button class = "connexion">Déconnexion</button></a>
         </nav>
        {% else %}
        <nav>
            <a href="{% url 'login' %}"><button class = "connexion">Connectez-vous</button></a>
        </nav>
        {% endif %}
    </header>
    <main>
        <section class="section2">
            <div class=" container">
                
  
                <div class="signup-content">
                  <div class="signup-form">
                      <h2 class="form-title">Mes informations</h2>
                      <form method='POST' enctype='multipart/form-data'>
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                              Username
                              {{u_form.username}}
                          </div>
                          <div class="form-group">
                              <label for="email"><i class="zmdi zmdi-email"></i></label>
                              Email
                              {{u_form.email}}
  
                          </div>
                         
                          <div class="form-group form-button">
                              <input type="submit" name="signup" id="signup" class="form-submit" value="Modifier    "/>
                          </div>
                      </form>
                  </div>
                  <div class="signup-image">
                      <figure><img src="{% static 'index/asset/img/signup-image.jpg' %}" alt="sing up image"></figure>
                  </div>
              </div>
              </div>
      </section>
      </div>
      {{form.errors}}
      </main>   

    
     



<footer>
    <div class="container">
        <div class ="bloc-footer">
            <div id="footer-logo">
                <img src="{% static 'index/asset/img/mini-logo-trip.svg' %}" alt="logo tripadvisor">
            </div>
            <div>
                <p>© 2022 Service Advisor LLC Tous droits réservés.</p>
                <p>Made at <a href="https://www.emsi.ma/" target="_blank">EMSI</a> by EL HADDAD Anas & LOUZAR Mehdi</a></p>
            </div>
        </div>
        <p>Cette version de notre site internet est réalisée dans le cadre de notre projet de fin d'année qui a pour objet la réalisation d'une plateforme de réferencement des services les plus proches.</p>
    </div>
</footer>
<form method = "POST" action = "{% url 'home' %}" id="formlL">
    {% csrf_token %}
    <input type="hidden" name="longitude" id="lo"/>
     <input type="hidden" name="latitude" id="la"/>
</form>
</body>

</html>